* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  min-height: 100vh;
  background-color: #2A2E45;
  color:white;
 
}
button {
  cursor: pointer;
}
.App-header,form {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 3rem;
}
.form-style {
  padding: 2rem;
}
.input-style {
  padding: 0.6rem;
  border: none;
  outline: none;
  width: 20rem;
}
.add-button {
  padding: 0.6rem 1.5rem;
  background-color: #88BB92;
  border: none;
  outline: none;
}
.add-button:hover {
  
  background-color: #99d1a4;
  outline: none;
 
}
.todo-list{
  width: 24.8rem;
  font-size: 15px;
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: .2rem;

}
.todo-list li {
  list-style:none;
  padding: 10px;
  justify-content: center;
  text-align: center;
}
.todo-item {
  flex:1;
}

.todo-list button {
  width: 2rem;
  color: green;
  border: none;
  background-color:white;
}
.todo-list button:last-child {
  width: 2rem;
  color: red;
}
.todo-list button:hover {
  padding: .2rem;
}

@media only screen and (max-width: 540px) {
  * {
    font-size: 15px;
  }
}
@media only screen and (max-width: 440px) {
  * {
    font-size: 12px;
  }
}